body {
  text-align: center;
  color: #333;
}
.tableDiv {
  width: 700px;
  margin: 50px auto;
}
table {
    border-collapse: collapse;
    width: 700px;
}

td, th {
    text-align: left;
    border: 1px solid #333;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ddd;
    color: #333;
}
